header {
  /* height: 5.1875rem; */
  height: 50px;
}

a.button.active {
  background-color: rgba(211, 211, 211, 0.5);
  color: #333;
}

.container {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section.horizontal {
  display: flex;
  align-items: center;
}


.bordered {
  padding: 5px 10px;
  border-radius: 3px;
}

.bordered .icon-edit {
  margin-right: 5px;
}

.status {
  padding: 3px 8px;
  border-radius: 3px;
}

.completed {
  background-color: rgba(255, 0, 0, 0.8);
}

.in-progress {
  background-color: rgba(0, 0, 255, 0.8);
}

.High {
  background-color: rgba(255, 0, 0, 1);
}

.Medium {
  background-color: rgba(255, 165, 0, 1);
}

.Low {
  background-color: rgba(0, 154, 87, 1);
}