.section {
  display: flex;
  align-items: center;
  width: 100%;
}

.section > * {
  flex: 1;
  text-align: center;
}

.section .actions {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
}

.status {
  padding: 3px 8px;
  border-radius: 3px;
}

.completed {
  background-color: rgb(50, 204, 39);
}

.in-progress {
  background-color: rgba(0, 0, 255, 0.8);
}

.bordered {
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit:hover {
  color: white;
  background-color: #647ee7;
}

.delete:hover {
  color: white;
  background-color: #f23f3f;
}

.save:hover {
  color: white;
  background-color: #647ee7;
}

.High {
  background-color: rgba(255, 0, 0, 1);
}

.Medium {
  background-color: rgba(255, 165, 0, 0.8);
}

.Low {
  background-color: rgba(69, 106, 195, 0.8);
}
